docs/image_stack_info.txt
src/quality_tool/__pycache__/__init__.cpython-314.pyc
src/quality_tool/core/__pycache__/__init__.cpython-314.pyc
src/quality_tool/core/__pycache__/models.cpython-314.pyc
src/quality_tool/io/__pycache__/__init__.cpython-314.pyc
src/quality_tool/io/__pycache__/image_stack_loader.cpython-314.pyc
src/quality_tool/io/__pycache__/metadata_parser.cpython-314.pyc
src/quality_tool/io/__pycache__/txt_matrix_loader.cpython-314.pyc
src/quality_tool/io/__pycache__/z_axis_loader.cpython-314.pyc
src/quality_tool.egg-info/dependency_links.txt
src/quality_tool.egg-info/PKG-INFO
src/quality_tool.egg-info/requires.txt
src/quality_tool.egg-info/SOURCES.txt
src/quality_tool.egg-info/top_level.txt
tests/test_io/__pycache__/__init__.cpython-314.pyc
tests/test_io/__pycache__/test_image_stack_loader.cpython-314-pytest-9.0.2.pyc
tests/test_io/__pycache__/test_metadata_parser.cpython-314-pytest-9.0.2.pyc
tests/test_io/__pycache__/test_txt_matrix_loader.cpython-314-pytest-9.0.2.pyc
tests/test_io/__pycache__/test_z_axis_loader.cpython-314-pytest-9.0.2.pyc
src/quality_tool/envelope/__pycache__/__init__.cpython-314.pyc
src/quality_tool/envelope/__pycache__/analytic.cpython-314.pyc
src/quality_tool/envelope/__pycache__/base.cpython-314.pyc
src/quality_tool/envelope/__pycache__/registry.cpython-314.pyc
src/quality_tool/preprocessing/__pycache__/__init__.cpython-314.pyc
src/quality_tool/preprocessing/__pycache__/basic.cpython-314.pyc
src/quality_tool/preprocessing/__pycache__/roi.cpython-314.pyc
tests/test_envelope/__pycache__/__init__.cpython-314.pyc
tests/test_envelope/__pycache__/test_analytic.cpython-314-pytest-9.0.2.pyc
tests/test_envelope/__pycache__/test_registry.cpython-314-pytest-9.0.2.pyc
tests/test_preprocessing/__pycache__/__init__.cpython-314.pyc
tests/test_preprocessing/__pycache__/test_basic.cpython-314-pytest-9.0.2.pyc
tests/test_preprocessing/__pycache__/test_roi.cpython-314-pytest-9.0.2.pyc
src/quality_tool/metrics/__pycache__/__init__.cpython-314.pyc
src/quality_tool/metrics/__pycache__/base.cpython-314.pyc
src/quality_tool/metrics/__pycache__/registry.cpython-314.pyc
src/quality_tool/metrics/baseline/__pycache__/__init__.cpython-314.pyc
src/quality_tool/metrics/baseline/__pycache__/fringe_visibility.cpython-314.pyc
src/quality_tool/metrics/baseline/__pycache__/power_band_ratio.cpython-314.pyc
src/quality_tool/metrics/baseline/__pycache__/snr.cpython-314.pyc
src/quality_tool/spectral/__pycache__/__init__.cpython-314.pyc
src/quality_tool/spectral/__pycache__/fft.cpython-314.pyc
tests/test_metrics/__pycache__/__init__.cpython-314.pyc
tests/test_metrics/__pycache__/test_baseline_metrics.cpython-314-pytest-9.0.2.pyc
tests/test_metrics/__pycache__/test_registry.cpython-314-pytest-9.0.2.pyc
tests/test_spectral/__pycache__/__init__.cpython-314.pyc
tests/test_spectral/__pycache__/test_fft.cpython-314-pytest-9.0.2.pyc
src/quality_tool/evaluation/__pycache__/__init__.cpython-314.pyc
src/quality_tool/evaluation/__pycache__/evaluator.cpython-314.pyc
src/quality_tool/evaluation/__pycache__/thresholding.cpython-314.pyc
tests/test_evaluation/__pycache__/__init__.cpython-314.pyc
tests/test_evaluation/__pycache__/test_evaluator.cpython-314-pytest-9.0.2.pyc
tests/test_evaluation/__pycache__/test_thresholding.cpython-314-pytest-9.0.2.pyc
testing_data/real_data_stack/Image_00001.tif
testing_data/real_data_stack/Image_00002.tif
testing_data/real_data_stack/Image_00003.tif
testing_data/real_data_stack/Image_00004.tif
testing_data/real_data_stack/Image_00005.tif
testing_data/real_data_stack/Image_00006.tif
testing_data/real_data_stack/Image_00007.tif
testing_data/real_data_stack/Image_00008.tif
testing_data/real_data_stack/Image_00009.tif
testing_data/real_data_stack/Image_00010.tif
testing_data/real_data_stack/Image_00011.tif
testing_data/real_data_stack/Image_00012.tif
testing_data/real_data_stack/Image_00013.tif
testing_data/real_data_stack/Image_00014.tif
testing_data/real_data_stack/Image_00015.tif
testing_data/real_data_stack/Image_00016.tif
testing_data/real_data_stack/Image_00017.tif
testing_data/real_data_stack/Image_00018.tif
testing_data/real_data_stack/Image_00019.tif
testing_data/real_data_stack/Image_00020.tif
testing_data/real_data_stack/Image_00021.tif
testing_data/real_data_stack/Image_00022.tif
testing_data/real_data_stack/Image_00023.tif
testing_data/real_data_stack/Image_00024.tif
testing_data/real_data_stack/Image_00025.tif
testing_data/real_data_stack/Image_00026.tif
testing_data/real_data_stack/Image_00027.tif
testing_data/real_data_stack/Image_00028.tif
testing_data/real_data_stack/Image_00029.tif
testing_data/real_data_stack/Image_00030.tif
testing_data/real_data_stack/Image_00031.tif
testing_data/real_data_stack/Image_00032.tif
testing_data/real_data_stack/Image_00033.tif
testing_data/real_data_stack/Image_00034.tif
testing_data/real_data_stack/Image_00035.tif
testing_data/real_data_stack/Image_00036.tif
testing_data/real_data_stack/Image_00037.tif
testing_data/real_data_stack/Image_00038.tif
testing_data/real_data_stack/Image_00039.tif
testing_data/real_data_stack/Image_00040.tif
testing_data/real_data_stack/Image_00041.tif
testing_data/real_data_stack/Image_00042.tif
testing_data/real_data_stack/Image_00043.tif
testing_data/real_data_stack/Image_00044.tif
testing_data/real_data_stack/Image_00045.tif
testing_data/real_data_stack/Image_00046.tif
testing_data/real_data_stack/Image_00047.tif
testing_data/real_data_stack/Image_00048.tif
testing_data/real_data_stack/Image_00049.tif
testing_data/real_data_stack/Image_00050.tif
testing_data/real_data_stack/Image_00051.tif
testing_data/real_data_stack/Image_00052.tif
testing_data/real_data_stack/Image_00053.tif
testing_data/real_data_stack/Image_00054.tif
testing_data/real_data_stack/Image_00055.tif
testing_data/real_data_stack/Image_00056.tif
testing_data/real_data_stack/Image_00057.tif
testing_data/real_data_stack/Image_00058.tif
testing_data/real_data_stack/Image_00059.tif
testing_data/real_data_stack/Image_00060.tif
testing_data/real_data_stack/Image_00061.tif
testing_data/real_data_stack/Image_00062.tif
testing_data/real_data_stack/Image_00063.tif
testing_data/real_data_stack/Image_00064.tif
testing_data/real_data_stack/Image_00065.tif
testing_data/real_data_stack/Image_00066.tif
testing_data/real_data_stack/Image_00067.tif
testing_data/real_data_stack/Image_00068.tif
testing_data/real_data_stack/Image_00069.tif
testing_data/real_data_stack/Image_00070.tif
testing_data/real_data_stack/Image_00071.tif
testing_data/real_data_stack/Image_00072.tif
testing_data/real_data_stack/Image_00073.tif
testing_data/real_data_stack/Image_00074.tif
testing_data/real_data_stack/Image_00075.tif
testing_data/real_data_stack/Image_00076.tif
testing_data/real_data_stack/Image_00077.tif
testing_data/real_data_stack/Image_00078.tif
testing_data/real_data_stack/Image_00079.tif
testing_data/real_data_stack/Image_00080.tif
testing_data/real_data_stack/Image_00081.tif
testing_data/real_data_stack/Image_00082.tif
testing_data/real_data_stack/Image_00083.tif
testing_data/real_data_stack/Image_00084.tif
testing_data/real_data_stack/Image_00085.tif
testing_data/real_data_stack/Image_00086.tif
testing_data/real_data_stack/Image_00087.tif
testing_data/real_data_stack/Image_00088.tif
testing_data/real_data_stack/Image_00089.tif
testing_data/real_data_stack/Image_00090.tif
testing_data/real_data_stack/Image_00091.tif
testing_data/real_data_stack/Image_00092.tif
testing_data/real_data_stack/Image_00093.tif
testing_data/real_data_stack/Image_00094.tif
testing_data/real_data_stack/Image_00095.tif
testing_data/real_data_stack/Image_00096.tif
testing_data/real_data_stack/Image_00097.tif
testing_data/real_data_stack/Image_00098.tif
testing_data/real_data_stack/Image_00099.tif
testing_data/real_data_stack/Image_00100.tif
testing_data/real_data_stack/Image_00101.tif
testing_data/real_data_stack/Image_00102.tif
testing_data/real_data_stack/Image_00103.tif
testing_data/real_data_stack/Image_00104.tif
testing_data/real_data_stack/Image_00105.tif
testing_data/real_data_stack/Image_00106.tif
testing_data/real_data_stack/Image_00107.tif
testing_data/real_data_stack/Image_00108.tif
testing_data/real_data_stack/Image_00109.tif
testing_data/real_data_stack/Image_00110.tif
testing_data/real_data_stack/Image_00111.tif
testing_data/real_data_stack/Image_00112.tif
testing_data/real_data_stack/Image_00113.tif
testing_data/real_data_stack/Image_00114.tif
testing_data/real_data_stack/Image_00115.tif
testing_data/real_data_stack/Image_00116.tif
testing_data/real_data_stack/Image_00117.tif
testing_data/real_data_stack/Image_00118.tif
testing_data/real_data_stack/Image_00119.tif
testing_data/real_data_stack/Image_00120.tif
testing_data/real_data_stack/Image_00121.tif
testing_data/real_data_stack/Image_00122.tif
testing_data/real_data_stack/Image_00123.tif
testing_data/real_data_stack/Image_00124.tif
testing_data/real_data_stack/Image_00125.tif
testing_data/real_data_stack/Image_00126.tif
testing_data/real_data_stack/Image_00127.tif
testing_data/real_data_stack/Image_00128.tif
testing_data/real_data_stack/Image_00129.tif
testing_data/real_data_stack/Image_00130.tif
testing_data/real_data_stack/Image_00131.tif
testing_data/real_data_stack/Image_00132.tif
testing_data/real_data_stack/Image_00133.tif
testing_data/real_data_stack/Image_00134.tif
testing_data/real_data_stack/Image_00135.tif
testing_data/real_data_stack/Image_00136.tif
testing_data/real_data_stack/Image_00137.tif
testing_data/real_data_stack/Image_00138.tif
testing_data/real_data_stack/Image_00139.tif
testing_data/real_data_stack/Image_00140.tif
testing_data/real_data_stack/Image_00141.tif
testing_data/real_data_stack/Image_00142.tif
testing_data/real_data_stack/Image_00143.tif
testing_data/real_data_stack/Image_00144.tif
testing_data/real_data_stack/Image_00145.tif
testing_data/real_data_stack/Image_00146.tif
testing_data/real_data_stack/Image_00147.tif
testing_data/real_data_stack/Image_00148.tif
testing_data/real_data_stack/Image_00149.tif
testing_data/real_data_stack/Image_00150.tif
testing_data/real_data_stack/Image_00151.tif
testing_data/real_data_stack/Image_00152.tif
testing_data/real_data_stack/Image_00153.tif
testing_data/real_data_stack/Image_00154.tif
testing_data/real_data_stack/Image_00155.tif
testing_data/real_data_stack/Image_00156.tif
testing_data/real_data_stack/Image_00157.tif
testing_data/real_data_stack/Image_00158.tif
testing_data/real_data_stack/Image_00159.tif
testing_data/real_data_stack/Image_00160.tif
testing_data/real_data_stack/Image_00161.tif
testing_data/real_data_stack/Image_00162.tif
testing_data/real_data_stack/Image_00163.tif
testing_data/real_data_stack/Image_00164.tif
testing_data/real_data_stack/Image_00165.tif
testing_data/real_data_stack/Image_00166.tif
testing_data/real_data_stack/Image_00167.tif
testing_data/real_data_stack/Image_00168.tif
testing_data/real_data_stack/Image_00169.tif
testing_data/real_data_stack/Image_00170.tif
testing_data/real_data_stack/Image_00171.tif
testing_data/real_data_stack/Image_00172.tif
testing_data/real_data_stack/Image_00173.tif
testing_data/real_data_stack/Image_00174.tif
testing_data/real_data_stack/Image_00175.tif
testing_data/real_data_stack/Image_00176.tif
testing_data/real_data_stack/Image_00177.tif
testing_data/real_data_stack/Image_00178.tif
testing_data/real_data_stack/Image_00179.tif
testing_data/real_data_stack/Image_00180.tif
testing_data/real_data_stack/Image_00181.tif
testing_data/real_data_stack/Image_00182.tif
testing_data/real_data_stack/Image_00183.tif
testing_data/real_data_stack/Image_00184.tif
testing_data/real_data_stack/Image_00185.tif
testing_data/real_data_stack/Image_00186.tif
testing_data/real_data_stack/Image_00187.tif
testing_data/real_data_stack/Image_00188.tif
testing_data/real_data_stack/Image_00189.tif
testing_data/real_data_stack/Image_00190.tif
testing_data/real_data_stack/Image_00191.tif
testing_data/real_data_stack/Image_00192.tif
testing_data/real_data_stack/Image_00193.tif
testing_data/real_data_stack/Image_00194.tif
testing_data/real_data_stack/Image_00195.tif
testing_data/real_data_stack/Image_00196.tif
testing_data/real_data_stack/Image_00197.tif
testing_data/real_data_stack/Image_00198.tif
testing_data/real_data_stack/Image_00199.tif
testing_data/real_data_stack/Image_00200.tif
testing_data/real_data_stack/Image_00201.tif
testing_data/real_data_stack/Image_00202.tif
testing_data/real_data_stack/Image_00203.tif
testing_data/real_data_stack/Image_00204.tif
testing_data/real_data_stack/Image_00205.tif
testing_data/real_data_stack/Image_00206.tif
testing_data/real_data_stack/Image_00207.tif
testing_data/real_data_stack/Image_00208.tif
testing_data/real_data_stack/Image_00209.tif
testing_data/real_data_stack/Image_00210.tif
testing_data/real_data_stack/Image_00211.tif
testing_data/real_data_stack/Image_00212.tif
testing_data/real_data_stack/Image_00213.tif
testing_data/real_data_stack/Image_00214.tif
testing_data/real_data_stack/Image_00215.tif
testing_data/real_data_stack/Image_00216.tif
testing_data/real_data_stack/Image_00217.tif
testing_data/real_data_stack/Image_00218.tif
testing_data/real_data_stack/Image_00219.tif
testing_data/real_data_stack/Image_00220.tif
testing_data/real_data_stack/Image_00221.tif
testing_data/real_data_stack/Image_00222.tif
testing_data/real_data_stack/Image_00223.tif
testing_data/real_data_stack/Image_00224.tif
testing_data/real_data_stack/Image_00225.tif
testing_data/real_data_stack/Image_00226.tif
testing_data/real_data_stack/Image_00227.tif
testing_data/real_data_stack/Image_00228.tif
testing_data/real_data_stack/Image_00229.tif
testing_data/real_data_stack/Image_00230.tif
testing_data/real_data_stack/Image_00231.tif
testing_data/real_data_stack/Image_00232.tif
testing_data/real_data_stack/Image_00233.tif
testing_data/real_data_stack/Image_00234.tif
testing_data/real_data_stack/Image_00235.tif
testing_data/real_data_stack/Image_00236.tif
testing_data/real_data_stack/Image_00237.tif
testing_data/real_data_stack/Image_00238.tif
testing_data/real_data_stack/Image_00239.tif
testing_data/real_data_stack/Image_00240.tif
testing_data/real_data_stack/Image_00241.tif
testing_data/real_data_stack/Image_00242.tif
testing_data/real_data_stack/Image_00243.tif
testing_data/real_data_stack/Image_00244.tif
testing_data/real_data_stack/Image_00245.tif
testing_data/real_data_stack/Image_00246.tif
testing_data/real_data_stack/Image_00247.tif
testing_data/real_data_stack/Image_00248.tif
testing_data/real_data_stack/Image_00249.tif
testing_data/real_data_stack/Image_00250.tif
testing_data/real_data_stack/Image_00251.tif
testing_data/real_data_stack/Image_00252.tif
testing_data/real_data_stack/Image_00253.tif
testing_data/real_data_stack/Image_00254.tif
testing_data/real_data_stack/Image_00255.tif
testing_data/real_data_stack/Image_00256.tif
testing_data/real_data_stack/Image_00257.tif
testing_data/real_data_stack/Image_00258.tif
testing_data/real_data_stack/Image_00259.tif
testing_data/real_data_stack/Image_00260.tif
testing_data/real_data_stack/Image_00261.tif
testing_data/real_data_stack/Image_00262.tif
testing_data/real_data_stack/Image_00263.tif
testing_data/real_data_stack/Image_00264.tif
testing_data/real_data_stack/Image_00265.tif
testing_data/real_data_stack/Image_00266.tif
testing_data/real_data_stack/Image_00267.tif
testing_data/real_data_stack/Image_00268.tif
testing_data/real_data_stack/Image_00269.tif
testing_data/real_data_stack/Image_00270.tif
testing_data/real_data_stack/Image_00271.tif
testing_data/real_data_stack/Image_00272.tif
testing_data/real_data_stack/Image_00273.tif
testing_data/real_data_stack/Image_00274.tif
testing_data/real_data_stack/Image_00275.tif
testing_data/real_data_stack/Image_00276.tif
testing_data/real_data_stack/Image_00277.tif
testing_data/real_data_stack/Image_00278.tif
testing_data/real_data_stack/Image_00279.tif
testing_data/real_data_stack/Image_00280.tif
testing_data/real_data_stack/Image_00281.tif
testing_data/real_data_stack/Image_00282.tif
testing_data/real_data_stack/Image_00283.tif
testing_data/real_data_stack/Image_00284.tif
testing_data/real_data_stack/Image_00285.tif
testing_data/real_data_stack/Image_00286.tif
testing_data/real_data_stack/Image_00287.tif
testing_data/real_data_stack/Image_00288.tif
testing_data/real_data_stack/Image_00289.tif
testing_data/real_data_stack/Image_00290.tif
testing_data/real_data_stack/Image_00291.tif
testing_data/real_data_stack/Image_00292.tif
testing_data/real_data_stack/Image_00293.tif
testing_data/real_data_stack/Image_00294.tif
testing_data/real_data_stack/Image_00295.tif
testing_data/real_data_stack/Image_00296.tif
testing_data/real_data_stack/Image_00297.tif
testing_data/real_data_stack/Image_00298.tif
testing_data/real_data_stack/Image_00299.tif
testing_data/real_data_stack/Image_00300.tif
testing_data/real_data_stack/Image_00301.tif
testing_data/real_data_stack/Image_00302.tif
testing_data/real_data_stack/Image_00303.tif
testing_data/real_data_stack/Image_00304.tif
testing_data/real_data_stack/Image_00305.tif
testing_data/real_data_stack/Image_00306.tif
testing_data/real_data_stack/Image_00307.tif
testing_data/real_data_stack/Image_00308.tif
testing_data/real_data_stack/Image_00309.tif
testing_data/real_data_stack/Image_00310.tif
testing_data/real_data_stack/Image_00311.tif
testing_data/real_data_stack/Image_00312.tif
testing_data/real_data_stack/Image_00313.tif
testing_data/real_data_stack/Image_00314.tif
testing_data/real_data_stack/Image_00315.tif
testing_data/real_data_stack/Image_00316.tif
testing_data/real_data_stack/Image_00317.tif
testing_data/real_data_stack/Image_00318.tif
testing_data/real_data_stack/Image_00319.tif
testing_data/real_data_stack/Image_00320.tif
testing_data/real_data_stack/Image_00321.tif
testing_data/real_data_stack/Image_00322.tif
testing_data/real_data_stack/Image_00323.tif
testing_data/real_data_stack/Image_00324.tif
testing_data/real_data_stack/Image_00325.tif
testing_data/real_data_stack/Image_00326.tif
testing_data/real_data_stack/Image_00327.tif
testing_data/real_data_stack/Image_00328.tif
testing_data/real_data_stack/Image_00329.tif
testing_data/real_data_stack/Image_00330.tif
testing_data/real_data_stack/Image_00331.tif
testing_data/real_data_stack/Image_00332.tif
testing_data/real_data_stack/Image_00333.tif
testing_data/real_data_stack/Image_00334.tif
testing_data/real_data_stack/Image_00335.tif
testing_data/real_data_stack/Image_00336.tif
testing_data/real_data_stack/Image_00337.tif
testing_data/real_data_stack/Image_00338.tif
testing_data/real_data_stack/Image_00339.tif
testing_data/real_data_stack/Image_00340.tif
testing_data/real_data_stack/Image_00341.tif
testing_data/real_data_stack/Image_00342.tif
testing_data/real_data_stack/Image_00343.tif
testing_data/real_data_stack/Image_00344.tif
testing_data/real_data_stack/Image_00345.tif
testing_data/real_data_stack/Image_00346.tif
testing_data/real_data_stack/Image_00347.tif
testing_data/real_data_stack/Image_00348.tif
testing_data/real_data_stack/Image_00349.tif
testing_data/real_data_stack/Image_00350.tif
testing_data/real_data_stack/Image_00351.tif
testing_data/real_data_stack/Image_00352.tif
testing_data/real_data_stack/Image_00353.tif
testing_data/real_data_stack/Image_00354.tif
testing_data/real_data_stack/Image_00355.tif
testing_data/real_data_stack/Image_00356.tif
testing_data/real_data_stack/Image_00357.tif
testing_data/real_data_stack/Image_00358.tif
testing_data/real_data_stack/Image_00359.tif
testing_data/real_data_stack/Image_00360.tif
testing_data/real_data_stack/Image_00361.tif
testing_data/real_data_stack/Image_00362.tif
testing_data/real_data_stack/Image_00363.tif
testing_data/real_data_stack/Image_00364.tif
testing_data/real_data_stack/Image_00365.tif
testing_data/real_data_stack/Image_00366.tif
testing_data/real_data_stack/Image_00367.tif
testing_data/real_data_stack/Image_00368.tif
testing_data/real_data_stack/Image_00369.tif
testing_data/real_data_stack/Image_00370.tif
testing_data/real_data_stack/Image_00371.tif
testing_data/real_data_stack/Image_00372.tif
testing_data/real_data_stack/Image_00373.tif
testing_data/real_data_stack/Image_00374.tif
testing_data/real_data_stack/Image_00375.tif
testing_data/real_data_stack/Image_00376.tif
testing_data/real_data_stack/Image_00377.tif
testing_data/real_data_stack/Image_00378.tif
testing_data/real_data_stack/Image_00379.tif
testing_data/real_data_stack/Image_00380.tif
testing_data/real_data_stack/Image_00381.tif
testing_data/real_data_stack/Image_00382.tif
testing_data/real_data_stack/Image_00383.tif
testing_data/real_data_stack/Image_00384.tif
testing_data/real_data_stack/Image_00385.tif
testing_data/real_data_stack/Image_00386.tif
testing_data/real_data_stack/Image_00387.tif
testing_data/real_data_stack/Image_00388.tif
testing_data/real_data_stack/Image_00389.tif
testing_data/real_data_stack/Image_00390.tif
testing_data/real_data_stack/Image_00391.tif
testing_data/real_data_stack/Image_00392.tif
testing_data/real_data_stack/Image_00393.tif
testing_data/real_data_stack/Image_00394.tif
testing_data/real_data_stack/Image_00395.tif
testing_data/real_data_stack/Image_00396.tif
testing_data/real_data_stack/Image_00397.tif
testing_data/real_data_stack/Image_00398.tif
testing_data/real_data_stack/Image_00399.tif
testing_data/real_data_stack/Image_00400.tif
testing_data/real_data_stack/Image_00401.tif
testing_data/real_data_stack/Image_00402.tif
testing_data/real_data_stack/Image_00403.tif
testing_data/real_data_stack/Image_00404.tif
testing_data/real_data_stack/Image_00405.tif
testing_data/real_data_stack/Image_00406.tif
testing_data/real_data_stack/Image_00407.tif
testing_data/real_data_stack/Image_00408.tif
testing_data/real_data_stack/Image_00409.tif
testing_data/real_data_stack/Image_00410.tif
testing_data/real_data_stack/Image_00411.tif
testing_data/real_data_stack/Image_00412.tif
testing_data/real_data_stack/Image_00413.tif
testing_data/real_data_stack/Image_00414.tif
testing_data/real_data_stack/Image_00415.tif
testing_data/real_data_stack/Image_00416.tif
testing_data/real_data_stack/Image_00417.tif
testing_data/real_data_stack/Image_00418.tif
testing_data/real_data_stack/image_stack_info.txt
testing_data/real_data_txt/correlogram_segments_surface_0_0.txt
testing_data/real_data_txt/image_stack_info.txt
src/quality_tool/gui/__pycache__/__init__.cpython-314.pyc
src/quality_tool/gui/__pycache__/main_window.cpython-314.pyc
src/quality_tool/gui/dialogs/__pycache__/__init__.cpython-314.pyc
src/quality_tool/gui/dialogs/__pycache__/info_dialog.cpython-314.pyc
src/quality_tool/gui/widgets/__pycache__/__init__.cpython-314.pyc
src/quality_tool/gui/widgets/__pycache__/map_viewer.cpython-314.pyc
src/quality_tool/gui/widgets/__pycache__/signal_inspector.cpython-314.pyc
src/quality_tool/gui/windows/__pycache__/__init__.cpython-314.pyc
src/quality_tool/gui/windows/__pycache__/compare_window.cpython-314.pyc
tests/test_gui/__pycache__/__init__.cpython-314.pyc
tests/test_gui/__pycache__/conftest.cpython-314-pytest-9.0.2.pyc
tests/test_gui/__pycache__/test_main_window.cpython-314-pytest-9.0.2.pyc
tests/test_gui/__pycache__/test_widgets.cpython-314-pytest-9.0.2.pyc
tests/test_io/__pycache__/test_real_data_integration.cpython-314-pytest-9.0.2.pyc
testing_data/test.txt
.idea/inspectionProfiles/profiles_settings.xml
.idea/wli_research_workbench.iml
.idea/vcs.xml
.claude/settings.local.json
tests/test_gui/__pycache__/test_metrics_dialog.cpython-314-pytest-9.0.2.pyc
src/quality_tool/gui/dialogs/__pycache__/metrics_dialog.cpython-314.pyc
src/quality_tool/gui/widgets/__pycache__/tool_panels.cpython-314.pyc
